*.ckpt
.DS_Store
.env.*
.envrc
.obsidian
.terraform
.terraform.lock.hcl
Session.vim
__pycache__
build.auto.pkrvars.hcl
cdk.out
data/model
dvc_plots
mlflow/outputs
output
run.auto.tfvars
src/train/model
src/train/modelx
src/train/data/class-images/*
src/train/data/instances/*
!src/train/data/instances/dummy
!src/train/data/instances/*.dvc